<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{template.html}">
<head>
  <meta charset="utf-8"/>
  <title>Administration</title>
</head>
<body>
<section layout:fragment="content" class="jumbotron">
  <h1>PAGE D'ADMINISTRATION !!!</h1>
  <p>Note: il n'est pas possible d'ajouter un employé la fonction doit être implémentée !</p>
  <p>IMPORTANT: pour ajouter ou supprimer un rôle, il faut renseigner son identifiant. Le rôle USER est le rôle par défaut et ne peut donc pas être supprimer !</p>
  <p>1 pour USER</p>
  <p>2 pour EMPLOYEE</p>
  <p>3 pour ADMIN</p>
  <div class="row">
    <div class="col-6">
      <div class="card" >
        <div class="card-body">
          <h3 class="card-title">Administration</h3>
          <h4>Ajouter une bibliotheque</h4>
          <div>
            <form th:action="@{/addLibrary}" method="post">
              <div>
                <label>Nom:</label>
                <input type="text" name="name" />
              </div>
              <div>
                <label>Adresse:</label>
                <input type="text" name="address" />
              </div>
              <button type="submit">Enregistrer</button>
            </form>
            <div th:if="${exception}" th:text="${exception}"></div>
          </div>
          <h4>Ajouter un employé</h4>
          <div>
            <form th:action="@{/addEmployee}"method="post">
              <div>
                <label>Mail:</label>
                <input type="text" name="mail" />
              </div>
              <div>
                <label>Code employé:</label>
                <input type="text" name="employeeCode" />
              </div>
              <div>
                <label>Salaire:</label>
                <input type="number"  step="any" name="salary" />
              </div>
              <button type="submit">Enregistrer</button>
            </form>
            <div th:if="${exception}" th:text="${exception}"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Rechercher </h3>
          <h4>Des utilisateurs</h4>
          <div>
            <form th:action="@{/searchUserAccount}" method="post">
              <div>
                <label>Mail:</label>
                <input type="text" name="mail" />
              </div>
              <div>
                <label>Nom:</label>
                <input type="text" name="lastName" />
              </div>
              <div>
                <label>Prénom:</label>
                <input type="text" name="firstName" />
              </div>
              <button type="submit">Rechercher</button>
            </form>
            <div th:if="${exception}" th:text="${exception}"></div>
          </div>
          <h4>Une Bibliotheque</h4>
          <div>
            <form th:action="@{/searchLibrary}" method="post">
              <div>
                <label>Nom:</label>
                <input type="text" name="name" />
              </div>
              <div>
                <label>Adresse:</label>
                <input type="text" name="address" />
              </div>
              <button type="submit">Rechercher</button>
            </form>
            <div th:if="${exception}" th:text="${exception}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Liste utilisateurs</h3>
           <table class="table table-striped">
            <tr>
              <th>ID</th><th>Mail </th><th>Nom</th><th>Prénom</th><th>Rôles</th><th>Ajouter Rôle</th><th>Supprimer Rôle</th><th>Supprimer Compte</th>
            </tr>
            <tr th:each="user:${listUsers}">
              <td th:text= "${user.id}"></td>
              <td th:text= "${user.mail}"></td>
              <td th:text= "${user.contact.lastName}"></td>
              <td th:text= "${user.contact.firstName}"></td>
              <td ><th:block th:each="role : ${user.roles}">
                <p th:text= "${role.name}"></p>
              </th:block></td>
             <td ><form th:action="@{/addRole(userAccountMail=${user.mail})}" method="post">
             <div>
                <label>IDRole:</label>
                <input type="number"  step="any" name="idRole" />
              </div>
              <button type="submit"  >Ajouter</button></form></td>
              <td ><form th:action="@{/removeRole(userAccountMail=${user.mail})}" method="post">
             <div>
                <label>IDRole:</label>
                <input type="number"  step="any" name="idRole" />
              </div>
              <button type="submit"  >Supprimer</button></form></td>
              <td>
                <form th:action="@{/removeUserAccount(idUserAccount=${user.id})}" method="post">

                  <button type="submit"  >Supprimer Compte</button></form>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Bibliotheque</h3>
          <table class="table table-striped">
            <tr>
              <th>ID</th><th>Nom </th><th>Adresse</th><th>Supprimer</th>
            </tr>
            <tr th:each="library:${pageListLibraries}">
              <td th:text= "${library.id}"></td>
              <td th:text= "${library.name}"></td>
              <td th:text= "${library.address}"></td>
              <td><form th:action="@{/removeLibrary(idLibrary=${library.id})}" method="post"><button type="submit"  >Supprimer</button></form></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>