<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{template.html}">
<head>
  <meta charset="utf-8"/>
  <title>Administration</title>
</head>
<body>
<section layout:fragment="content" class="jumbotron">
  <h1>PAGE D'ADMINISTRATION !!!</h1>
  <p>IMPORTANT: pour ajouter ou supprimer un rôle, il faut renseigner son identifiant. Le rôle USER est le rôle par défaut et ne peut donc pas être supprimer !</p>
  <p>1 pour USER</p>
  <p>2 pour EMPLOYEE</p>
  <p>3 pour ADMIN</p>
  <div class="row">
    <div class="col-6">
      <div class="card" >
        <div class="card-body">
          <h3 class="card-title">Administration</h3>
          <h4>Ajouter une bibliotheque</h4>
          <div>
            <form th:action="@{/addLibrary}" method="post">
              <div>
                <label>Nom:</label>
                <input type="text" name="name" />
              </div>
              <div>
                <label>Adresse:</label>
                <input type="text" name="address" />
              </div>
              <button type="submit">Enregistrer</button>
            </form>
            <div th:if="${exception}" th:text="${exception}"></div>
          </div>
          <h4>Ajouter un employé</h4>
          <div>
            <form th:action="@{/addEmployee}" method="post">
              <div>
                <label>Mail:</label>
                <input type="text" name="mail" />
              </div>
              <div>
                <label>Code employé:</label>
                <input type="text" name="employeeCode" />
              </div>
              <div>
                <label>Salaire:</label>
                <input type="number"  step="any" name="salary" />
              </div>
              <button type="submit">Enregistrer</button>
            </form>
            <div th:if="${exception}" th:text="${exception}"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Rechercher </h3>
          <h4>Des utilisateurs</h4>
          <div>
            <form th:action="@{/searchUserAccount}" method="post">
              <div>
                <label>Mail:</label>
                <input type="text" name="mail" />
              </div>
              <div>
                <label>Nom:</label>
                <input type="text" name="lastName" />
              </div>
              <div>
                <label>Prénom:</label>
                <input type="text" firstName="firstName" />
              </div>
              <button type="submit">Rechercher</button>
            </form>
            <div th:if="${exception}" th:text="${exception}"></div>
          </div>
          <h4>Une Bibliotheque</h4>
          <div>
            <form th:action="@{/searchBibliotheque}" method="post">
              <div>
                <label>Nom:</label>
                <input type="text" name="name" />
              </div>
              <div>
                <label>Adresse:</label>
                <input type="text" name="address" />
              </div>
              <button type="submit">Rechercher</button>
            </form>
            <div th:if="${exception}" th:text="${exception}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Liste utilisateurs</h3>
           <table class="table table-striped">
            <tr>
              <th>ID</th><th>Mail </th><th>Nom</th><th>Prénom</th><th>Rôles</th><th>Ajouter Rôle</th><th>Supprimer Rôle</th>
            </tr>
            <tr th:each="user:${listUsers}">
              <td th:text= "${user.id}"></td>
              <td th:text= "${user.mail}"></td>
              <td th:text= "${user.contact.lastName}"></td>
              <td th:text= "${user.contact.firstName}"></td>
              <td th:text= "${user.roles}"></td>
             <td ><form th:action="@{/addRole(userAccountMail=${user.mail})}" method="post">
             <div>
                <label>IDRole:</label>
                <input type="number"  step="any" name="idRole" />
              </div>
              <button type="submit"  >Ajouter</button></form></td>
              <td ><form th:action="@{/removeRole(userAccountMail=${user.mail})}" method="post">
             <div>
                <label>IDRole:</label>
                <input type="number"  step="any" name="idRole" />
              </div>
              <button type="submit"  >Supprimer</button></form></td>
            </tr>
          </table>
          <div class="container">
            <ul class="nav nav-pills">
              <li th:each="p,status:${pagesListTopos}">
                <a th:href="@{/administration(pageList=${status.index})}" th:text="${status.index}"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Bibliotheque</h3>
         <!-- <table class="table table-striped">
            <tr>
              <th>ID</th><th>Titre </th><th>Pays</th><th>Lieu</th><th>Cotation</th><th>Longueur</th><th>nombre de secteurs</th><th>nombre de voies</th><th>Détails</th><th>Taguer</th>
            </tr>
            <tr th:each="s:${listSites}">
              <td th:text= "${s.id}"></td>
              <td th:text= "${s.title}"></td>
              <td th:text= "${s.country}"></td>
              <td th:text= "${s.place}"></td>
              <td th:text= "${s.cotation}"></td>
              <td th:text= "${s.length}"></td>
              <td th:text= "${s.nbSectors}"></td>
              <td th:text= "${s.nbPaths}"></td>
              <td ><form th:action="@{/target(idSite=${s.id})}" target="_blank" method="post"><button type="submit"  >Détails</button></form></td>
              <td  sec:authorize="hasAuthority('ADMIN')"><form th:action="@{/tag(idSite=${s.id})}" method="post"><button type="submit"  >Taguer</button></form></td>
            </tr>
          </table>-->

        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>