<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Livres</title>
</head>
<body>
    <section layout:fragment="content" class="jumbotron">
        <h1>Tous nos livres !</h1>
    <div class="row">
        <div class="col-6">
            <div class="card" sec:authorize="hasAuthority('EMPLOYEE')">
                <div class="card-body">
                    <h3 class="card-title">Ajouter un livre</h3>
                    <form th:action="@{/addBook}" method="post">
                        <div>
                            <label>Titre:</label>
                            <input type="text" name="title" />
                        </div>
                        <div>
                            <label>Auteur:</label>
                            <input type="text" name="author" />
                        </div>
                        <div>
                            <label>Résumé:</label>
                            <input type="text" name="resume" />
                        </div>
                        <div>
                            <label>Nombre d'exemplaires:</label>
                            <input type="number"  step="any" name="numberExemplar" />
                        </div>
                        <div>
                            <label>ID Bibliothèque:</label>
                            <input type="number"  step="any" name="idLibrary" />
                        </div>
                        <button type="submit">Enregistrer</button>
                    </form>
                    <div th:if="${exception}" th:text="${exception}"></div>
                    <p>Note: seul le nombre d'exemplaires pourra être modifié par la suite !</p>
                    <p>1 pour la médiathèque Georges Pompidou</p>
                    <p>2 pour la médiathèque Roi Soleil</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Rechercher un Livre</h3>
                    <form th:action="@{/searchBook}" method="post">
                        <div>
                            <label>Titre:</label>
                            <input type="text" name="title" />
                        </div>
                        <div>
                            <label>Auteur:</label>
                            <input type="text" name="author" />
                        </div>
                        <button type="submit">Rechercher</button>
                    </form>
                    <div th:if="${exception}" th:text="${exception}"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Liste Livres</h3>
                    <table class="table table-striped">
                        <tr>
                            <th>ID</th><th>Titre</th><th>Auteur</th><th>Résumé</th><th>Quantité Disponnible</th><th>Bibliotheque</th><th>Adresse</th><th>Emprunter</th><th sec:authorize="hasAuthority('EMPLOYEE')">Modifier</th><th sec:authorize="hasAuthority('EMPLOYEE')">Supprimer</th>
                        </tr>
                        <tr th:each="book:${pageListBooks}">
                            <td th:text= "${book.id}"></td>
                            <td th:text= "${book.title}"></td>
                            <td th:text= "${book.author}"></td>
                            <td th:text= "${book.resume}"></td>
                            <td th:text= "${book.numberExemplar}"></td>
                            <td th:text= "${book.library.name}"></td>
                            <td th:text= "${book.library.address}"></td>
                            <td  ><form th:if="${book.getAvailable}" th:action="@{/borrow(idBook=${book.id})}" method="post"><button type="submit"  >Emprunter</button></form></td>
                            <td  sec:authorize="hasAuthority('EMPLOYEE')">
                                <form th:action="@{/modifyBook(idBook=${book.id})}" method="post">
                                    <div>
                                        <label>Nombre d'exemplaires:</label>
                                        <input type="number"  step="any" name="numberExemplar" />
                                    </div>
                                    <button type="submit"  >Modifier</button>
                                </form>
                            </td>
                            <td  sec:authorize="hasAuthority('EMPLOYEE')"><form th:action="@{/removeBook(idBook=${book.id})}" method="post"><button type="submit"  >Supprimer</button></form></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>