<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Prêts</title>
</head>
<body>
    <section layout:fragment="content" class="jumbotron">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Historique des prêts !</h3>
                    <table class="table table-striped">
                        <tr>
                            <th>ID</th><th>Titre</th><th>Auteur</th><th>Bibliotheque</th><th>Adresse</th><th>Status</th><th>Prolonger</th><th sec:authorize="hasAuthority('EMPLOYEE')">Nom</th><th sec:authorize="hasAuthority('EMPLOYEE')">Prénom</th><th sec:authorize="hasAuthority('EMPLOYEE')">Adresse</th>
                        </tr>
                        <tr th:each="loan:${listLoans}">
                            <td th:text= "${loan.id}"></td>
                            <td th:text= "${loan.book.title}"></td>
                            <td th:text= "${loan.book.author}"></td>
                            <td th:text= "${loan.book.library.name}"></td>
                            <td th:text= "${loan.book.library.address}"></td>
                            <td th:text= "${loan.status}"></td>
                            <td th:if="${loan.isExtensible=='true'}">
                            <form th:action="@{/extendLoan(idLending=${loan.id})}" method="post"><button type="submit"  >Prolonger</button></form>
                            </td>
                            <td  sec:authorize="hasAuthority('EMPLOYEE')" th:text= "${loan.userAccount.contact.name}"></td>
                            <td  sec:authorize="hasAuthority('EMPLOYEE')" th:text= "${loan.userAccount.contact.firstName}"></td>
                            <td  sec:authorize="hasAuthority('EMPLOYEE')" th:text= "${loan.userAccount.contact.address}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>